body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #FFF2D7;
};
.main{
    height: 100vh;

}
.dice-header{
    display: flex;
    justify-content: center;
}

.dice-header h1{
    text-shadow: 2px 2px 4px black ;
    font-size: 6rem;
    color: #D8AE7E;
    justify-content: center;
}

.dice-container{
    display: flex;
    justify-content: center;
}

.dice-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.dice-container p{
    font-size: 2rem;
    font-weight: bold;
    color: #D8AE7E;
    text-shadow: 2px 2px 2px rgb(0,0,0,0.8) ;

}

footer{
    display: flex;
    justify-content: center;
    padding-top: 80px;

    font-weight: bold;
    font-size: 1rem;
}